
/* main thoughts here: NOT setting up bootstrap? have to decide if committing to
container/row/column format is best. thinking if the <canvas> is set centered,
navigating "freely" within it shouldn't be an issue

-Create "tracks" in html for icons(players) to move across ->bootstrap? good here
-First step forward in the pseudo- YES to bootstrap?
-
*/
label {
  border: solid 20px orange;
  position: absolute;
  top: 0;
  left: 0;
}

#board {
  opacity: .5;
}


h1 {
  color: white;
  font-family: 'Press Start 2P', cursive;
}
body {
background-image: url(https://cdn1.vox-cdn.com/thumbor/rklXRkdv5LCgrLrPCvkhhNrUyyA=/cdn0.vox-cdn.com/uploads/chorus_asset/file/6530083/hodor-death.0.jpg);
}
p{
  text-align: center;
  color: white;
}

#minutes {
  padding: 10px;
  text-align: center;

}
#seconds {
  padding: 10px;
  text-align: center;
  color: white;
}

.wrapper {
  text-align: center;
  padding: 15px;
}
